:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(24,39,37);
  background-image: linear-gradient(rgb(168, 195, 188), white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input {
  border-radius: 0;
  border: none;
  padding: 1rem;
  background-color: rgb(160, 188, 195);
  color: rgb(62,75,73);
} 

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(34, 64, 108);
  margin-bottom: 0.25rem;
}

button {
  padding: 1rem;
  background-color: rgb(34, 64, 108);
  cursor: pointer;
  border: none;
}

#app {
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  min-width: 100%;
}


@media only screen and (min-width: 480px) {
  body {
    margin: auto;
    max-width: 60%;
    }
}